In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('dataset/train.csv')

In [13]:

df.shape

(404290, 6)

In [14]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [15]:
new_df = df.sample(30000)

In [16]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [17]:
new_df.duplicated().sum()

0

In [18]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
85619,Can I change jobs 6 months after I-140 approva...,I am in my 6th year with my H1-B. My I-140 was...
203952,What are the differences between Su-27 and MiG...,Which country is the most difficult to invade?
258852,How should I invest in mobile apps?,How is the investment in mobile apps in Turkey?
210963,What are the products that can be profitably i...,What are some cheap options to ship products f...
93660,How will GST bill affect our life?,Who does GST bill impact our life.?

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [21]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [22]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
85619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
226960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
309209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65787,0,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0

In [23]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [24]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
85619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
203952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
210963,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [27]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
pip install xgboost

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7308333333333333